.mysidecol {
  padding: 10px;
  background-color: #9dd4b9;
}

.mymainpanel {
    padding: 10px;
}

body {
  font-family: 'Lexend Deca', sans-serif;
}

.mybtn {
  overflow: hidden !important;
  max-width: 100% !important;
  min-width: 0 !important;
  margin: 10px !important;
  width: 80% !important;
}
